<div class="h-12 mt-6 rounded-lg flex justify-center items-center px-4 w-full"
  [ngClass]="{'bg-[#ECF1F7] ': isProcessed, 'bg-[#FAD4C7] hover:bg-[#f3beac]': !isProcessed}"
  (click)="handleClick()"
>
  
  <div class="flex justify-between items-center w-full">
    <div class="w-1/4 text-[#697D95] text-[16px] font-medium font-['Poppins'] text-center">
      {{ demande.patientName }}
    </div>
    
    <div class="w-1/4 text-[#697D95] text-[16px] font-medium font-['Poppins'] text-center">
      Par {{ demande.doctorName }}
    </div>
    
    <div class="w-1/4 text-[#697D95] text-[16px] font-medium font-['Poppins'] text-center">
      {{ demande.typeRadio }}
    </div>
    
    <div class="w-1/4 text-[#697D95] text-[16px] font-medium font-['Poppins'] text-center">
      {{ demande.date }}
    </div>
  </div>
</div>