<h2 class="text-xl lg:text-2xl   text-Bluehover font-bold  mb-20">Login & Mot De Passe</h2>
<div class="space-y-6">
  <div class="font-medium ">
    <label class="block text-customgris text-xs font-medium">Email</label>
    <p class="w-full bg-Bluebg py-2 border-b border-customgris">{{ userProfile?.emailUser }}</p>
  </div>
  <div>
    <label class="block text-customgris text-xs font-medium">Mot de passe</label>
    <p class="w-full bg-Bluebg py-2 border-b border-customgris">********</p>
  </div>
</div>
<div class="mt-28 ">
    <button class="bg-Bluehover font-medium text-white px-10 py-2 rounded hover:bg-[#2E699B]" 
             routerLink="../reset-password">
             Modifier
    </button>
  </div>

