<html>
<body>
    <h1>CERTIFICAT MÉDICAL</h1>

    <p>Je soussigné(e), Dr. {{docteurnom}}  {{docteurprenom}}(médecin traitant), certifie avoir examiné ce jour,</p>
    <p>{{patientnom }} {{patientprenom}} (né(e) le {{datedenaissance}})</p>

    <p>et atteste que cette personne est dans l'incapacité de travailler pour des raisons médicales.</p>
    <p>Je recommande un repos complet pour permettre une guérison optimale.</p>

    <p>Signature et cachet du médecin</p>
    <p>{{datedenvoi}}</p>
</body>
</html>